@page "/"

<PageTitle>SurePay product catalogue and testing ground</PageTitle>

<div class="h-screen w-screen jic flex-col home">
    <img src="https://surepayltd.com/assets/img/surepay_logo.PNG" class="surepey-logo">
    <NavLink href="/catalogue" class="btn-container jic">
        <div></div>
        <div></div>
        <div class="jic text-center">see<br>catalogue</div>
    </NavLink>
    <div class="mt-10 max-w-[600px] mx-auto text-center">
        <p class="text-xl">SurePay product catalogue</p>
        <p class="mt-2 text-[#777]">
            SurePay Limited is a fully registered company offering digital and financial services to small and medium size enterprises (SMEs). Thousands of such businesses struggle to find and adopt appropriate technology and financial solutions to run in a healthy way. The result is un healthy individuals. SurePay Limited is committed to delivering real value to the end user by providing payments solutions to SMEs.
            </p>
    </div>
</div>